http://sg.com.mx/sgvirtual/6/sessions/como-hacer-un-api-por-medio-web-scraping#.VeyrxhF_Okr
//iojs radio.js
//estoy cargando la libreria
var jsdom = require("jsdom");
//el pimer link es donde sacaremos el scriming
//el segundo es por defecto
jsdom.env(
  "http://www.radiouno.pe/",
  ["http://code.jquery.com/jquery.js"],
  function (err,window) {
    var jQuery = window.$;
    //river-block es el nombre de la calse
    console.log("en radio uno hay ", jQuery(".fijitem").length - 4, "articulo existentes");
  jQuery('.fijitem').each(function(i,item){
    var $item = jQuery(item);
    var obj={};

    obj.title = $item.find('.fijdet a').text();
    obj.http  =$item.find('.fijdet a').attr('href');
    obj.fecha =$item.find('.fijfec').text();
    obj.cotex =$item.find('.fijgro').text();

    console.log(obj);
  });

  }
);
